<% include public/layouts/top.ejs %>
        <h1 style="text-align: center">Route Exercice</h1>
        <hr>
        <h5 style="text-align: center">About Route.</h5>
        <a style="text-align: center;display:block;" href="/">Go back to the index page</a>
<% include public/layouts/bottom.ejs %>