<% include public/layouts/top.ejs %>
        <h1 style="text-align: center">Route Exercice</h1>
        <hr>
        <h5 style="text-align: center">Index Route.</h5>
        <a style="text-align: center;display:block;" href="/about">Go back to the about page</a>
<% include public/layouts/bottom.ejs %>
