extends layout

block content
    .container
        .row
            .col-md-3
            .col-md-6.text-center(style="margin-top:100px")
                h2 Collection of #{username}
                - var i = 0
                    while resultList.length > i
                        .pokemon
                            img(src= "http://www.pokestadium.com/sprites/xy/" + resultList[i].toLowerCase() + ".gif")
                            h5= resultList[i]
                            button Trade
                        - i++
            .col-md-3