extends layout

block content
    .container
        .row
            .col-md-3
            .col-md-6.text-center(style="margin-top:100px")
                h4 Hello #{username}
            .col-md-3
    hr
    .container
        .row
            .col-md-3
            .col-md-6.text-center
                h3 My Collection
                hr
                .collection
                    - var i = 0
                    while pokemons.length > i
                        .pokemon
                            img(src= pokemonsGif[i])
                            h5= pokemons[i]
                        - i++
            .col-md-3
    hr
    .container
        .row
            .col-md-3
            .col-md-6.text-center
                h2 Trade
                hr
                .collection
                    p= trades[0]
            .col-md-3