extends layout

block content
    .container
        .row
            .col-md-3
            .col-md-6.text-center(style="margin-top:100px")
                h4 Hello #{username}
            .col-md-3
    hr
    .container
        .row
            .col-md-3
            .col-md-6.text-center
                h3 My Collection
                hr
                .collection
                    - var i = 0
                    while pokemons.length > i
                        .pokemon
                            img(src= pokemonsGif[i])
                            h5= pokemons[i]
                        - i++
            .col-md-3
    hr
    .container
        .row
            .col-md-3
            .col-md-6.text-center
                h2 Trade
                hr
                .collection
                    -var trade = JSON.parse(trades)
                    -var i = 0
                    while trade.length >= i
                        -var j =0
                        while trade[i][1].length >= j
                            img(src= "http://www.pokestadium.com/sprites/xy/" + trade[i][1][j] + ".gif")
                            - j++
                        img(src= "/images/trade-logo.png")
                        -var h =0
                        while trade[i][2].length >= h
                            img(src= "http://www.pokestadium.com/sprites/xy/" + trade[i][2][h] + ".gif")
                            - h++
                        - i++
            .col-md-3