extends layout

block content
    .sidenav
        a(class="dot" href="#searchBar")
        a(class="dot" href="#about")
        a(class="dot" href="#collection")
        a(class="dot" href="#random")
    .searchBar#searchBar
        img(src="/images/pokeball-background.jpg" class="img-fluid poke-background")
        form(style="margin-top:5px; margin-left:10px" class="form-inline searchForm" action="/search" method="POST")
            input(class="form-control mr-sm-2" name="search" placeholder="Search a pokemon" aria-label="Search a pokemon"
                size="40")
            input(class="btn rechercher" type="submit" name="submit" value="Search")
    hr
    h2(class="text-center" style="margin: 20px 0") What's About
    .container.about#about
        .row
            .col-md-4.right-line
                h3.text-center Search
                p 
                    | Search a Pokemon thanks to the search engine.
                    br
                    | Enter an english Pokemon name to find a Pokemon
                    | associated with an account.
            .col-md-4.right-line
                h3.text-center Trade
                p 
                    | After searching a Pokemon, you can check the collection
                    | of a Trainer.
                    br
                    | Choose which Pokemon you want to trade with him and which 
                    | Pokemon you want to give.
                    br
                    | He'll then receive a trade proposal that he can accept or cancel.

            .col-md-4
                h3.text-center Collect
                p 
                    | Collect all the 151 first Pokemon !
                    br
                    | Be the first trainer to get them'all, trade Pokemons
                    | with the awesome Trainers out there !
    .container-fluid.collection#collection
        .row
            .col-md-6.right-line
                h3.text-center Pokemon
                img(src="/images/pokemon-image.png" class="img-fluid mx-auto d-block")
            .col-md-6
                h3.text-center Collection
                img(src="/images/collection.gif" class="img-fluid mx-auto d-block")
    hr
    if username == ""
        .container#random
            .row
                .col-md-12.text-center
                    h2(class="text-center" style="margin: 20px 0") Enroll now !
                    img(src="/images/pokeball-gif.gif" width="50" height="65")
                    img(src="/images/pokeball-gif.gif" width="50" height="65")
                    img(src="/images/pokeball-gif.gif" width="50" height="65")
                    p(class="text-center") Get 3 random pokemon when you create an account !

                    hr
                    .container#register
                        .row
                            .col-md-3
                            .col-md-6(class="text-center")
                                h4 Register now !
                                form(action="/register" method="POST" autocomplete="off")
                                    table(style="margin: 20px 20%")
                                        tr
                                            td
                                                label Username
                                            td
                                                input(type="text" name="username")
                                        tr
                                            td
                                                label Courriel
                                            td
                                                input(type="text" name="courriel")
                                        tr
                                            td
                                                label Password
                                            td
                                                input(type="password" name="password")
                                        tr
                                            td
                                            td
                                                input(type="submit" name="register" value="Register")
                                    
                                h4 Login
                                form(action="/login" method="POST" autocomplete="off")
                                    table(style="margin: 20px 20%")
                                        tr
                                            td
                                                label Username
                                            td
                                                input(type="text" name="username")
                                        tr
                                            td
                                                label Password
                                            td
                                                input(type="password" name="password")
                                        tr
                                            td
                                            td
                                                input(type="submit" name="login" value="Login")
                            .col-md-3
