<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login Exercise</title>
</head>

<body>
    <h1 style="text-align: center">Route Exercice</h1>
    <hr>
    <table>
        <form action='/' method='POST'>
            <tr>
                <td>
                    <label>Name </label>
                </td>
                <td>
                    <input name="name" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password </label>
                </td>
                <td>
                    <input name="password" type="password">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Register</button>
                </td>
            </tr>
        </form>
    </table>
    <a href="/login">Login</a>
</body>

</html>