<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login Exercise</title>
</head>

<body>
    <h1 style="text-align: center">Route Exercice</h1>
    <hr>
    <form action="POST">
        <label>Name </label>
        <input type="text"><br>
        <label>Password </label>
        <input type="password"><br>
        <button type="submit">Login</button>
    </form>
</body>

</html>