<!DOCTYPE html>
<html>

<head>
    <meta charser="utf-8">
    <title>User Page</title>
</head>

<body>
    <h1 style="text-align: center">Route Exercice</h1>
    <hr>
    <h3 style="text-align: center">Welcome <%= id %></h3>
    <a href="/">Log Off</a>
</body>

</html>