body {
    background-color: #232323;
}

h1, h2, span{
    color: white;
}

.square {
    border-radius: 20%;
    border: 2px white solid;
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}