body{
    background-color: #e6e6e6 !important;
}

hr {
    border-top: 5px solid #a94442 !important;
}

table {
    margin: 0 auto;
    padding-top: 30px;
    width: 30%;
    text-align: left;
}

td, label {
    padding: 5px;
}

.erreur {
    color: red;
    display: none;
    margin-left: 3%;
}

.erreur2 {
    color: red;
    display: block;
    margin-left: 3%;
}

.imageAnimal {
    max-width: 90%;
    height: auto;
}

.bouton {
    border: 3px solid #a94442;
    background-color: #e6e6e6;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}