<% include layout.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <table>
                <form action="" method="POST" enctype="multipart/form-data">
                    <tr>
                        <td>
                            <label>Nom de l'animal</label>
                        </td>
                        <td>
                            <input type="text" name="nomAnimal" maxlength="15">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Type de l'animal</label>
                        </td>
                        <td>
                            <input type="text" name="typeAnimal" maxlength="15">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Race de l'animal</label>
                        </td>
                        <td>
                            <input type="text" name="raceAnimal">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Âge de l'animal</label>
                        </td>
                        <td>
                            <input type="text" name="ageAnimal">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Description textuelle</label>
                        </td>
                        <td>
                            <textarea rows="6" cols="40" name="descriptionAnimal"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Téléverser une photo de votre animal</label>
                        </td>
                        <td>
                            <input type="file" name="imageAnimal" accept=".png">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" name="submit" value="Mettre en adoption">
                        </td>
                    </tr>
                </form>
            </table>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>