<% include layouts/top.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <table>
                    <form action="/register" onsubmit="return valider()" method="POST">
                        <tr>
                            <td>
                                <label>Last Name</label>
                            </td>
                            <td>
                                <input type="text" id="lastname" name="lastname">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>First Name</label>
                            </td>
                            <td>
                                <input type="text" id="firstname" name="firstname">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Username</label>
                            </td>
                            <td>
                                <input type="text" id="username" name="username">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Email</label>
                            </td>
                            <td>
                                <input type="text" id="email" name="email" maxlength="254">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Confirm email</label>
                            </td>
                            <td>
                                <input type="text" id="email2" name="email2">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Password</label>
                            </td>
                            <td>
                                <input type="password" id="password" name="password">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" name="submit" value="S'enregistrer">
                            </td>
                        </tr>
                    </form>
                </table>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>

    <% include layouts/bottom.ejs %>