<% include ../layouts/layout.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <% if(utilisateur == "None"){ %>
                    <table>
                        <form action="/login" method="POST">
                            <tr>
                                <td>
                                    <label>Courriel </label>
                                </td>
                                <td>
                                    <input type="text" name="courriel">
                                </td>

                                <td>
                                    <label>Mot de passe </label>
                                </td>
                                <td>
                                    <input type="password" name="password">
                                </td>

                                <td></td>
                                <td>
                                    <input type="submit" name="valider" value="Se connecter">
                                </td>
                            </tr>
                        </form>
                    </table>
                    <% if(error == "invalide"){ %>
                        <h3 class='erreur2'>Erreur: Courriel ou mot de passe invalide</h3>
                        <% } %>
                            <a href="/enregistrer">Vous n'avez pas de compte ?</a>
                            <br>
                            <a href="/oublier">Mot de passe oublié ?</a>
                            <% } else {%>
                                <h3 class="text-center">Bonjour {{ utilisateur }}</h3>
                                <% if(error == "confirm"){ %>
                                    <h3 class='erreur2'>Erreur: Vous devez valider votre courriel</h3>
                                    <% } %>
                                        <% } %>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <hr>


</body>

</html>