.rechercher {
    background-color: orange;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.searchBar {
    position: relative;
}

.searchForm {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 33%;
    margin: auto;
}

.right-line {
    border-right: 2px black solid;
}

hr {
    margin: 0 0;
    border-top: 0px;
    border-bottom: 3px black solid;
}

.about, .collection{
    margin-bottom: 20px;
}

.poke-background {
        -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
        filter: grayscale(40%);
}